body{
    background-color: hsl(0, 0%, 0%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    align-items:center;
    color:white;
}

p{
    font-size:xx-large;
    margin-left:3%;
}

.image{
    width: 4.5rem;
    aspect-ratio: 1 / 1;
}

.header{
    align-items:center;
    position:sticky;
    top:0.8%;
    font-size:100%;
    background-color:rgb(42, 40, 38);
    padding-inline:1.5%;
    display:flex;
    overflow:hidden;
}

.header a {
    width: fit-content;
}

h1{
    color:white;
}

h2{
    color:white;
}

.titleText{
    font-size:1000%;
    margin-left:3%;
    margin-top:5%;
}

.headerButton{
    background-color:transparent;
    border-color:transparent;
    font-size:large;
    font-weight:bold;
    color:white;
}

.contactMethods{
    font-size:200%;
    color:white;
    display:flexbox;
}